*{
    background-color: rgb(129, 190, 218);
    margin: 0;
    padding: 0;

}
h1 {
    background-color:  rgb(41, 41, 41);
    text-shadow: 0.3mm 0.3mm 0.3mm rgb(0, 0, 0);
    font-size: 30px;
    color: darkorange;
    padding-left: 1%;
    display: inline-flex;
    align-items: center;
}
#top{
    background-color: rgb(41, 41, 41);
    
}
.logo{
    background-color: rgb(41, 41, 41);

    padding-left: 3%;
    width: 40px;
}
.txt{
    font-size: 200px;
}
.menu{
    background-color:  rgb(41, 41, 41);
    width: 30px;
    padding-left: 1%;
}
.search{
    display: inline-flex;
    width: 300px;
    background-color:  rgb(41, 41, 41);
    padding-left: 19%;
    align-items: center;
}
